@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";

}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  min-height: 100%;
}


.welcome, .about, .photos {
  display: grid;
  grid-template-columns: 1fr;
}


.panel img {
  max-width: 100%;
}


.about img, .photos img  {
min-height: 100%;

}


.welcome {
  padding: 2rem;
  background: #323230;
  color: white;
}

.text {
  padding: 2rem;
  background: #eeeee7;
}

.welcome nav a{
 
  color: white;
  text-decoration: none;
  margin-right: 1rem;

}


.welcome footer {
  display: grid;
  align-items: end;
}

.welcome.content {
  display: grid;
  align-items: end;
}


@media screen and (max-width: 820px) {
  
  main {
    display: grid;
    grid-template-columns: 1fr;
  }


  .about, .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #eeeee7;
  }


}


@media screen and (max-width:450px) {
  .about, .photos {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background: #eeeee7;
  }

  .photos {

    border-top: 1px solid grey;
  }
  
}